.Task-checkbox{
    width: 95%;
    text-align: left;
    padding: 15px 20px;
    -webkit-box-shadow:  0px 2px 7px 0px rgba(189, 189, 189, 0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(189, 189, 189, 0.75);
    box-shadow: 0px 2px 7px 0px rgba(189, 189, 189, 0.75);
    margin: 0% 1%;
}
.Task-checkbox:hover{
    background: lightgray;
}