.App {
  text-align: center;
}
.App-input{
  width: 50%;
  height: 25px;
  padding: 2px;
  margin-bottom: 10px;
}
.App-button{
  width:100px;
  height: 31px;
  margin-left: 1%;
  cursor: pointer;
}
.App-completed{
  font-weight: bolder;
}





